@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");
@import "tailwindcss";

@theme {
  --default-font-family: "Lexend", serif;
}
body {
  scroll-behavior: smooth;
}
.navy {
  transition: all 0.3s;
}
.navy.active {
  background-color: #fd0800;
  color: #fff;
}
.navy.active:hover {
  background-color: #fd0800;
  color: #fff !important;
}
.home {
  transition: all 0.3s;
}
.blurry {
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.3s;
}
.blurry.active {
  opacity: 1;
  transform: translateY(0);
}
